<%= render 'error' %>

<div class="form-group">
  <%= form_for :quiz, url: quizzes_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %><br>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %><br>
    
    <%= f.label :level %>
    <%= f.radio_button :level, "1", :checked => true %>
    <%= f.label :"1", "1", :value => "1" %> 
    <%= f.radio_button :level, "2" %>
    <%= f.label :level, "2", :value => "2" %>
    <%= f.radio_button :level, "3" %>
    <%= f.label :level, "3", :value => "3" %>
    <br>

    Select a Category
    <br>
    <% @categories.each do |c| %>

    <%= f.radio_button(:category_id, c.id) %>
    <%= f.label(:category_id, c.title ) %>
    <br>
    <% end %> 

    <%= f.submit class: "btn btn-success" %>
    <%= button_tag "Reset", type: :reset, class: "btn btn-danger" %>
  <% end %>
</div>