<h1> You have created: </h1>

<%= link_to 'My quizzes', quizzes_path %> <br><br>

<p>Quiz Title <%= @quiz.title %></p><br>
<p>Quiz Body <%= @quiz.body %></p><br>
<p>Quiz Category <%= @quiz.category %></p><br>
<p>Quiz Level <%= @quiz.level %></p><br>

<hr>




